.signup {
    display: flex;
    color: #010a24;

    &__left {
        flex: 0.3;
        background: #010a24;
        color: #ffff;
        display: flex;
        height: 100vh;
        flex-direction: column;
        justify-content: space-between;

        @media (max-width: 1000px) {
            display: none;
        }

        a {
            text-decoration: none;
            color: #ffff;
            align-self: flex-start;
            padding: 1.5rem;

            .signup__leftHeader {
                padding: 0.3rem 0.6rem;
                border: 4px solid#FFF;
                font-weight: bold;
                font-size: 18px;
            }
        }
        &Body {
            font-size: 45px;
            color: lightgray;
            width: 75%;
            padding-left: 1.5rem;
        }
        &Footer {
            width: 100%;
            margin: 0;
            object-fit: cover;
        }
    }
    &__right {
        flex: 0.7;
        display: flex;
        flex-direction: column;

        @media (max-width: 1000px) {
            flex: 1;
        }

        .signup__rightHeader {
            display: flex;
            align-self: flex-end;
            padding: 1.5rem;
            align-items: center;

            p {
                font-weight: 500;
            }
            .signup__rightHeaderButton {
                border: 1px solid black;
                outline: none;
                font-size: 16px;
                font-weight: 600;
                position: relative;
                padding: 0.4rem 0.8rem;
                transition: padding 0.2ms ease-in;
                box-shadow: 5px 5px 0px 0px #010a24;
                margin-left: 1rem;
                color: #010a24;
                cursor: pointer;

                &:active {
                    box-shadow: 1px 1px 0px 0px #010a24;
                    transform: translateY(2px);
                }
            }
        }
        .signup__rightFooter {
            display: flex;
            flex-direction: column;
            align-items: center;
            // margin-top: 3rem;
            margin-top: 6rem;

            &Title {
                font-size: 35px;
                text-transform: uppercase;
            }
            &Form {
                margin-top: 3rem;
                width: 350px;
                max-width: 300px;
                user-select: none;
                .signup__rightFooterInput {
                    font-size: 18px;
                    padding: 0.7rem 1rem;
                    width: 100%;
                    background: #fafafa;
                    transition: all 0.5ms ease-in;
                }
                .signup__rightFooterButton {
                    width: 100%;
                    background: #010a24;
                    color: #fff;
                    padding: 1rem;
                    font-size: 16px;
                    font-weight: 600;
                    cursor: pointer;
                    margin-top: 1rem;
                }
                .signup__rightFooterButton:focus,
                .signup__rightFooterButton:active,
                .signup__rightFooterButton:hover {
                    background: #010614;
                }
            }
            .button-spinner {
                display: flex;
                align-items: center;
                justify-content: center;
                width: 100%;
                margin: 2rem 0;
            }
            .signup__rightSplitter {
                margin: 2rem 0;
                position: relative;
                background: #fff;
                padding: 0 0.6rem;
                font-weight: 600;

                &::before {
                    content: "";
                    width: 300px;
                    color: red;
                    position: absolute;
                    left: -50%;
                    top: 55%;
                    transform: translateX(-8%);
                    z-index: -1;
                    border-bottom: 1px solid #dedede;
                }
            }
            &ButtonContainer {
                margin-bottom: 1rem;
                display: flex;
                align-items: center;
                justify-content: space-between;
                width: 100px;

                .signup__facebookButton,
                .signup__googleButton {
                    border: none;
                    background: #ffff;
                    font-size: 20px;
                    border-radius: 50%;
                    padding: 0.5rem;
                    padding-bottom: 0.2rem;
                    cursor: pointer;
                }
                .signup__googleButton {
                    border: 1px solid black;
                }
                .signup__facebookButton {
                    background: #3c5a9a;
                    color: #fff;
                }
            }
        }
    }
}
