@import "../../App.scss";

.signup {
  display: flex;
  color: $primary-color;

  &__left {
    flex: 0.3;
    background: $primary-color;
    color: $light-theme;
    height: 100vh;

    @include flexColumn();
    justify-content: space-between;

    @media (max-width: 1000px) {
      display: none;
    }

    a {
      text-decoration: none;
      color: $light-theme;
      align-self: flex-start;
      padding: 1.5rem;

      .signup__leftLogo {
        padding: 0.3rem 0.6rem;
        border: 4px solid $light-theme;
        font-weight: bold;
        font-size: $font-x-large;
      }
    }
    &Text {
      font-size: 45px;
      color: lightgray;
      width: 75%;
      padding-left: 1.5rem;
    }
    &FooterImage {
      width: $percentage;
      margin: 0;
      object-fit: cover;
    }
  }
  &__right {
    flex: 0.7;
    @include flexColumn();

    @media (max-width: 1000px) {
      flex: 1;
    }

    &Head {
      @include flexRow();
      align-self: flex-end;
      padding: 1.5rem;

      p {
        font-weight: $font-weight-normal;
      }
      &Button {
        border: 1px solid black;
        outline: none;
        font-size: $font-normal;
        font-weight: $font-weight-bold;
        position: relative;
        padding: 0.4rem 0.8rem;
        transition: padding 0.2ms ease-in;
        box-shadow: 5px 5px 0px 0px $primary-color;
        margin-left: 1rem;
        color: $primary-color;
        cursor: pointer;

        &:active {
          box-shadow: 1px 1px 0px 0px $primary-color;
          transform: translateY(2px);
        }
      }
    }
    &Tail {
      @include flexRow();
      flex-direction: column;
      margin-top: 6rem;

      &Title {
        font-size: 35px;
        text-transform: uppercase;
      }
      &Form {
        margin-top: 3rem;
        width: 350px;
        max-width: 300px;
        user-select: none;
        &Input {
          font-size: 18px;
          padding: 0.7rem 1rem;
          width: $percentage;
          background: #fafafa;
          transition: all 0.5ms ease-in;
        }
        &Button {
          width: $percentage;
          background: $primary-color;
          color: $light-theme;
          padding: 1rem;
          font-size: $font-normal;
          font-weight: $font-weight-bold;
          cursor: pointer;
          margin-top: 1rem;
        }
        .signup__rightFooterButton:focus,
        .signup__rightFooterButton:active,
        .signup__rightFooterButton:hover {
          background: #010614;
        }
      }
    }
  }
}
