@import "../../App.global.style.scss";


.dashboard {
  background: $primary-color;
  display: flex;
  color: $slight-theme;
  width: $percentage;
  height: $percentage;

  &__right {
    flex: 0.9995;
    width: $percentage;
    position: relative;
    height: $percentage;

    &LogoContainer {
      padding: 1rem;
      @include flexRow();
      justify-content: center;
      text-decoration: none;

      .dashboard__rightLogo {
        padding: 0.3rem 0.6rem;
        border: 4px solid $light-theme;
        font-weight: $font-weight-bold;
        font-size: $font-x-large;
        color: $light-theme;
      }
    }
    &Container {
      width: $percentage;
      height: $percentage;
    }
  }
}
