@import "../../App.global.style.scss";

.viewPassword__container {
  width: $percentage;
  height: $percentage;
  position: relative;

  .viewPassword {
    width: $percentage;
    height: $percentage;
    @include flexColumn();
    padding: 2rem;
    overflow: auto;

    &--blur {
      filter: blur(10px);
    }

    &__header {
      @include flexRow();
      justify-content: space-between;
      color: $model-button-primary-color;

      &Button {
        @include buttonWithoutBorder();
        background: $button-secondary-color;
        align-self: flex-start;
        color: $dark-theme;
        width: 90px;
        padding: 0.5rem 1rem;
        font-weight: $font-weight-bold;
        text-transform: uppercase;

        &:active,
        &:hover {
          background: $button-secondary-touch-color;
        }
      }
      &DeleteButton {
        transition: all 0.5ms ease-in;
        cursor: pointer;

        &:hover {
          transform: scale(1.1);
        }
      }
    }

    .password__title {
      font-size: 1.5rem;
      text-transform: uppercase;
      margin-top: 2rem;
      align-self: center;
    }
    .password__form {
      @include flexColumn();
      margin-top: 2rem;

      .password__inputsContainer {
        @include flexColumn();

        .password__inputContainer {
          @include flexRow();

          margin-bottom: $rem;
          position: relative;

          .password__label {
            flex: 0.3;
            text-transform: uppercase;
          }
          .password__input {
            flex: 0.7;
            padding: $rem;
            font-size: $font-normal;
            color: $light-theme;
            background: rgba(0, 0, 0, 0.3);
            @include buttonWithoutBorder();

            &:disabled {
              cursor: not-allowed;
            }
          }
          .show-password {
            position: absolute;
            right: 10px;
          }
        }
      }
      .password__progressContainer,
      .password__riskContainer {
        @include flexRow();
        margin: $rem 0;

        .password__label {
          flex: 0.3;
          text-transform: uppercase;
        }
        .password__progress {
          flex: 0.7;
        }
        .password__risk {
          text-transform: capitalize;
          font-weight: $font-weight-bold;
          font-size: $font-normal;
          margin-left: $rem;
        }
        .low {
          color: $button-primary-color;
        }
      }
    }
    .password__buttonContainer {
      display: flex;
      justify-content: space-between;
      margin-top: 2rem;

      button {
        @include buttonWithoutBorder();
        align-self: flex-start;
        color: $dark-theme;
        width: 100px;
        padding: 0.5rem $rem;
        font-weight: $font-weight-bold;
        text-transform: uppercase;
      }
      .password__reset {
        background: $button-primary-color;

        &:active,
        &:hover {
          background: $button-primary-touch-color;
        }
      }
      .password__submit {
        background: $button-secondary-color;
        visibility: hidden;

        &:active,
        &:hover {
          background: $button-secondary-touch-color;
        }
      }
    }
  }
}
.unlockButton__overlay {
  @include absolute();
  width: $percentage;
  height: $percentage;
  @include flexRow();
  justify-content: center;
}
.model-overlay {
  @include absolute;
  width: $percentage;
  height: $percentage;
  filter: blur(100px);
  z-index: 99;
}
.model {
  @include absolute();
  width: $percentage;
  height: $percentage;
  @include flexRow();
  justify-content: center;
  z-index: 100;
  background: $model-overlay-bg;

  .model-container {
    background: $model-bg;
    width: 300px;
    height: 175px;
    padding: 1.5rem;
    position: relative;
    border-radius: 5px;

    .title {
      margin-bottom: $rem;
    }
    .form-input {
      width: $percentage;
      background: rgb(44, 41, 41);
      color: $light-theme;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;

      &:focus {
        color: $light-theme;
        border-bottom: 1px solid $light-theme;
      }
    }
    @include button();
  }
  .clear {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0.5rem;
  }
}
