.viewPassword {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    overflow: auto;

    &--blur {
        filter: blur(10px);
    }

    .password__back {
        border: none;
        outline: none;
        background: #a9ded8;
        align-self: flex-start;
        color: #000;
        width: 90px;
        padding: 0.5rem 1rem;
        font-weight: bold;
        text-transform: uppercase;

        &:active,
        &:hover {
            background: #9edfd7;
        }
    }
    .password__title {
        font-size: 1.5rem;
        text-transform: uppercase;
        margin-top: 2rem;
        align-self: center;
    }
    .password__form {
        display: flex;
        flex-direction: column;
        margin-top: 2rem;

        .password__inputsContainer {
            display: flex;
            flex-direction: column;

            .password__inputContainer {
                display: flex;
                align-items: center;
                margin-bottom: 1rem;
                position: relative;

                .password__label {
                    flex: 0.3;
                    text-transform: uppercase;
                }
                .password__input {
                    flex: 0.7;
                    padding: 1rem 1rem;
                    font-size: 16px;
                    color: white;
                    background: rgba(0, 0, 0, 0.3);
                    border: none;
                    outline: none;

                    &:disabled {
                        cursor: not-allowed;
                    }
                }
                .show-password {
                    position: absolute;
                    right: 10px;
                }
            }
            .password__error {
                color: red;
                padding: 0;
                margin: 0;
                margin-bottom: 1rem;
                align-self: flex-end;
                width: 70%;
            }
        }
        .password__progressContainer,
        .password__riskContainer {
            display: flex;
            align-items: center;
            margin: 1rem 0;
            .password__label {
                flex: 0.3;
                text-transform: uppercase;
            }
            .password__progress {
                flex: 0.7;
            }
            .password__risk {
                text-transform: capitalize;
                font-weight: bold;
                font-size: 16px;
                margin-left: 1rem;
            }
            .low {
                color: rgb(77, 141, 77);
            }
        }
    }
    .password__buttonContainer {
        display: flex;
        justify-content: space-between;
        margin-top: 2rem;

        button {
            border: none;
            outline: none;
            align-self: flex-start;
            color: #000;
            width: 100px;
            padding: 0.5rem 1rem;
            font-weight: bold;
            text-transform: uppercase;
        }
        .password__reset {
            background: #a9ded8;

            &:active,
            &:hover {
                background: #9edfd7;
            }
        }
        .password__submit {
            background: rgba(255, 192, 203, 0.9);
            visibility: hidden;

            &:active,
            &:hover {
                background: pink;
            }
        }
    }
}
.viewPassword__container {
    width: 100%;
    height: 100%;
    position: relative;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.model-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(100px);
    z-index: 99;
}
.model {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 100;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 4px rgba(0,0,0,0.4);

    .model-container {
        background: rgb(27, 25, 25);
        width: 300px;
        height: 175px;
        padding: 1.5rem;
        position: relative;
        border-radius: 5px;

        .title {
            margin-bottom: 1rem;
            font-weight: 400;
        }
        .form-input {
            width: 100%;
            background: rgb(44, 41, 41);
            color: white;
            border-top-left-radius: 3px;
            border-top-right-radius: 3px;

            &:focus {
                color: white;
                border-bottom: 1px solid white;
            }
        }
    }
    .clear {
        position: absolute;
        top: 0;
        right: 0;
        padding: 0.3rem;
    }
}
.viewPassword__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: orangered;
}
.model-delete {
    background: rgb(27, 25, 25);
    width: 300px;
    padding: 1.5rem;
    position: relative;
    border-radius: 5px;
    height: 125px;

    .title {
        margin-bottom: 1rem;
    }

    .model-button-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 1rem;
    }
}
