@import "../../App.global.style.scss";

.signIn {
  display: flex;

  &__left {
    flex: 0.4;
    background: $primary-color;
    background-image: url("../../assets/signin__cover.jpg");
    background-position: top;
    background-size: cover;
    object-fit: contain;
    display: flex;
    height: 100vh;

    @media (max-width: 1000px) {
      display: none;
    }

    a {
      text-decoration: none;
      color: $primary-color;
      align-self: flex-start;
      padding: 1.5rem;

      .signIn__leftLogo {
        padding: 0.3rem 0.6rem;
        border: 4px solid $primary-color;
        font-weight: $font-weight-bold;
        font-size: $font-x-large;
      }
    }
  }
  &__right {
    flex: 0.6;
    @include flexColumn();
    height: 100vh;

    @media (max-width: 1000px) {
      flex: 1;
    }

    &Header {
      @include flexRow();
      align-self: flex-end;
      padding: 1.5rem;

      p {
        font-weight: $font-weight-normal;
      }
      &Button {
        border: 1px solid $dark-theme;
        outline: none;
        font-size: $font-normal;
        font-weight: $font-weight-bold;
        position: relative;
        padding: 0.4rem 0.8rem;
        transition: padding 0.2ms ease-in;
        box-shadow: 5px 5px 0px 0px $primary-color;
        margin-left: 1rem;
        cursor: pointer;
        color: $primary-color;

        &:active {
          box-shadow: 1px 1px 0px 0px #020a20;
          transform: translateY(2px);
        }
      }
    }
    &Footer {
      @include flexRow();
      flex-direction: column;
      margin-top: 6rem;

      &Title {
        font-size: 35px;
        font-weight: 500;
        text-transform: uppercase;
      }
      &Subtitle {
        color: gray;
        margin-top: 0.5rem;
      }
      &Form {
        margin-top: 3rem;
        width: 500px;
        user-select: none;

        @media (max-width: 750px) {
          width: 400px;
        }

        @media (max-width: 500px) {
          width: 300px;
        }
        @media (max-width: 300px) {
          width: 250px;
        }

        &Input {
          font-size: $font-x-large;
          height: 50px;
          width: 100%;
          background: #fafafa;
          transition: all 0.5ms ease-in;
        }
        a {
          text-decoration: none;

          .signIn__rightFooterForgot {
            width: 95%;
            color: $primary-color;
            text-align: right;
            margin-bottom: 0.5rem;
            font-weight: $font-weight-bold;
          }
          .signIn__rightFooterForgot:hover {
            text-decoration: underline;
          }
        }

        &Button {
          width: 95%;
          background: $primary-color;
          color: $light-theme;
          padding: 1rem;
          font-size: $font-normal;
          font-weight: $font-weight-bold;
          cursor: pointer;
          margin-top: 1rem;

          &:focus,
          &:active,
          &:hover {
            background: #010614;
          }
        }
      }
    }

    .signIn__splitter {
      margin: 2rem 0;
      position: relative;
      background: $light-theme;
      padding: 0 0.6rem;
      font-weight: $font-weight-bold;

      &::before {
        content: "";
        width: 300px;
        position: absolute;
        left: -50%;
        top: 55%;
        transform: translateX(-10%);
        z-index: -1;
        border-bottom: 1px solid #dedede;
      }
    }
    .signIn__rightFooterButtonContainer {
      margin-bottom: 1rem;
      @include flexRow();
      justify-content: space-between;
      width: 100px;

      .signIn__facebookButton,
      .signIn__googleButton {
        border: none;
        background: $light-theme;
        font-size: 20px;
        border-radius: 50%;
        padding: 0.5rem;
        padding-bottom: 0.2rem;
        cursor: pointer;
      }
      .signIn__googleButton {
        border: 1px solid $dark-theme;
      }
      .signIn__facebookButton {
        background: #3c5a9a;
        color: $light-theme;
      }
    }
  }
}
