@import "../../../App.scss";

.password {
  height: 88vh;
  display: flex;
  position: relative;
  margin-top: $rem;
  border-top: 1px solid $light-theme-with-opacity;

  &__left {
    flex: 0.3;
    @include flexColumn();
    width: $percentage;
    box-shadow: 0 2px 4px $light-theme-with-opacity;

    &Top {
      @include flexRow();
      justify-content: space-between;
      padding: $rem;
      box-shadow: 0 2px 4px $light-theme-with-opacity;
    }
    &Bottom {
      overflow-y: auto;

      @include scroll();

      &PasswordList {
        padding: $rem 2rem;
        text-transform: lowercase;
        @include flexRow();

        &:hover {
          color: $dark-theme;
          background: $button-primary-color;

          .password__leftBottomPasswordDetails {
            .link {
              color: rgb(29, 27, 27);
            }
          }
        }

        .password__leftBottomPasswordLogo {
          width: 50px;
          height: 50px;
          background: $light-theme;
          flex: 0.1;
        }
        .password__leftBottomPasswordDetails {
          flex: 0.9;
          margin-left: $rem;
          @include flexColumn();

          .title {
            font-weight: bold;
            text-transform: capitalize;
          }
          .link {
            color: lightsteelblue;
          }
        }
      }
    }
  }
  &__right {
    flex: 0.7;

    &Empty {
      @include flexRow();
      justify-content: center;
      width: $percentage;
      height: $percentage;

      &Logo {
        width: 300px;
        height: 300px;
      }
    }
  }
}
