@import "../../../container/App.global.style.scss";

// .password {
//   height: 88vh;
//   display: flex;
//   position: relative;
//   margin-top: $rem;
//   border-top: 1px solid $light-theme-with-opacity;

//   &__left {
//     flex: 0.3;
//     @include flexColumn();
//     width: $percentage;
//     box-shadow: 0 2px 4px $light-theme-with-opacity;

//     &Top {
//       @include flexRow();
//       justify-content: space-between;
//       padding: $rem;
//       box-shadow: 0 1px 2px $light-theme-with-opacity;
//     }
//     &Bottom {
//       overflow-y: auto;

//       @include scroll();

//       &PasswordList {
//         padding: $rem 2rem;
//         text-transform: lowercase;
//         @include flexRow();

//         &:hover {
//           color: $light-theme;
//           background: $primary-color;

//           .password__leftBottomPasswordDetails {
//             .link {
//               color: $light-theme;
//             }
//           }
//         }

//         .password__leftBottomPasswordLogo {
//           width: 50px;
//           height: 50px;
//           flex: 0.1;
//           object-fit: contain;
//         }
//         .password__leftBottomPasswordDetails {
//           flex: 0.9;
//           margin-left: $rem;
//           @include flexColumn();

//           .title {
//             font-weight: bold;
//             text-transform: capitalize;
//           }
//           .link {
//             color: lightsteelblue;
//           }
//         }
//       }
//     }
//   }
//   &__right {
//     flex: 0.7;

//     &Empty {
//       @include flexRow();
//       justify-content: center;
//       width: $percentage;
//       height: $percentage;

//       &Logo {
//         width: 300px;
//         height: 300px;
//       }
//     }
//   }
// }

.passwords {
  flex: 1;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;

    a {
      text-decoration: none;
      transition: 0.4s;
      border-radius: 3px;

      .passwords__createButton {
        display: flex;
        align-items: center;
        color: $light-theme;
        cursor: pointer;
        padding: 0.5rem 1rem;

        span {
          margin-left: 0.3rem;
        }
      }

      &:hover {
        transform: translateY(3px);
        background: $light-theme-with-opacity;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }
    }
    .passwords__sort {
      appearance: none;
      padding: 0.5rem 1rem;
      background: $light-theme-with-opacity;
      @include buttonWithoutBorder();
      color: $light-theme;
      border-radius: 3px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      font-weight: 600;

      option {
        color: black;
        padding: 0.5rem 1rem;
        background: $light-theme-with-opacity;
      }
    }
  }

  &__body {
    margin: 1rem;

    .passwords__lists {
      display: flex;
      flex-wrap: wrap;

      .passwords__details {
        width: 250px;
        padding: 0.5rem 1rem;
        background: $light-theme-with-opacity;
        margin: 0.5rem;
        border-radius: 5px;
      }
    }
  }
}
