@import "../../../container/App.global.style.scss";

.passwords {
  flex: 1;

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem 1rem;

    a {
      text-decoration: none;
      transition: 0.4s;
      border-radius: 3px;

      .passwords__createButton {
        display: flex;
        align-items: center;
        color: $light-theme;
        cursor: pointer;
        padding: 0.5rem 1rem;

        span {
          margin-left: 0.3rem;
        }
      }

      &:hover {
        transform: translateY(3px);
        background: $light-theme-with-opacity;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      }
    }
    .passwords__sort {
      appearance: none;
      padding: 0.5rem 1rem;
      background: $light-theme-with-opacity;
      @include buttonWithoutBorder();
      color: $light-theme;
      border-radius: 3px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
      font-weight: 600;

      option {
        color: black;
        padding: 0.5rem 1rem;
        background: $light-theme-with-opacity;
      }
    }
  }

  &__body {
    margin: 1rem;

    .passwords__lists {
      display: flex;
      flex-wrap: wrap;

      .passwords__details {
        width: 250px;
        padding: 0.5rem 1rem;
        background: $light-theme-with-opacity;
        margin: 0.5rem;
        border-radius: 5px;
      }
    }
  }
}
