.password {
  height: 88vh;
  display: flex;
  position: relative;
  margin-top: 1rem;
  border-top: 1px solid rgba(255, 255, 255, 0.1);

  &__left {
    flex: 0.3;
    display: flex;
    flex-direction: column;
    width: 100%;
    box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
    &Top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 1rem;
      box-shadow: 0 2px 4px rgba(255, 255, 255, 0.1);
    }
    &Bottom {
      overflow-y: auto;

      &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
        background: #ccf6ed;
      }
      &::-webkit-scrollbar-thumb {
        background: #21bb9a;
        border-radius: 10px;
      }

      .password__list {
        padding: 1rem 2rem;
        text-transform: lowercase;
        display: flex;
        align-items: center;

        &:hover {
          color: black;
          background: #a9ded8;
          .password__details {
            .password-link {
              color: rgb(29, 27, 27);
            }
          }
        }

        img {
          width: 50px;
          height: 50px;
          background: white;
          flex: 0.1;
        }
        .password__details {
          flex: 0.9;
          margin-left: 1rem;
          display: flex;
          flex-direction: column;

          .password-title {
            font-weight: bold;
            text-transform: capitalize;
          }
          .password-link {
            color: lightsteelblue;
          }
        }
      }
    }
  }
  &__right {
    flex: 0.7;
    .empty-pageContainer {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 100%;
      height: 100%;

      .empty-page {
        width: 300px;
        height: 300px;
      }
    }
  }
}
