@import "../../../App.scss";

.diary {
  color: $light-theme;
  margin-top: 2rem;
  position: relative;

  &__top {
    height: 50px;
    padding: 0 3rem;
    @include flexRow();
    justify-content: space-between;
    flex-wrap: wrap;

    &AddButton {
      border: none;
      outline: none;
      padding: 0.4rem 1.6rem;
      font-size: $font-normal;
      background: $button-primary-color;
      margin-top: 0.5rem;
      @include flexRow();
      justify-content: space-between;
      margin-right: 1rem;
      text-decoration: none;
      color: $dark-theme;

      &:active,
      &:hover {
        background: $button-primary-touch-color;
      }
    }

    &Container {
      @include flexRow();
      justify-content: center;
      flex-wrap: wrap;

      .diary__topSearch {
        font-size: $font-normal;
        padding: 0.5rem 1rem;
        background: $light-theme-with-opacity;
        color: $light-theme;
        border: none;
        outline: none;
        flex: 0.4;
        margin-top: 0.5rem;

        &:focus {
          box-shadow: 0 0 2px $light-theme-with-opacity;
        }
      }
      .diary__topDatePicker {
        font-size: 1rem;
        height: 35px;
        margin: 0 1rem;
        padding: 0 0.5rem;
        font-family: "Courier New", Courier, monospace;
        background: $light-theme-with-opacity;
        color: $light-theme;
        border: none;
        text-transform: uppercase;
        border-radius: 0;
        margin-top: 0.5rem;

        &::-webkit-calendar-picker-indicator {
          background: url("../../../assets/calender.png") center/80% no-repeat;
          width: 15px;
        }
      }
      .diary__topDateOptions {
        font-size: 1rem;
        margin-right: 1rem;
        height: 35px;
        color: $dark-theme;
        padding: 0 0.5rem;
        border: none;
        margin-top: 0.5rem;
      }
      .diary__topSearchButton {
        @include buttonWithoutBorder();
        padding: 0.5rem 1rem;
        font-size: $font-normal;
        background: $button-secondary-color;
        margin-top: 0.5rem;

        &:active,
        &:hover {
          background: $button-secondary-touch-color;
        }
      }
    }
  }
  .diary__bottom {
    margin-top: 3rem;
    @include flexColumn();
  }
}
