@import "../../container/App.global.style.scss";

.button {
  color: $dark-theme;
  background: $primary-color;
  @include buttonWithoutBorder();
  padding: 0.5rem 2rem;
  cursor: pointer;
  box-shadow: $shadow;

  &:hover {
    background: $button-primary-touch-color;
  }
}
.inverted {
  background: $button-secondary-color;

  &:hover {
    background: $button-secondary-touch-color;
  }
}
