@import "../../index.scss";

.MuiAccordionSummary-root {
  display: flex;
  align-items: center;
}
.task {
  flex-direction: column;
}
.task__tasks {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 0.5rem;

  .task__title {
    display: flex;
    align-items: center;
    flex: 0.55;

    @media (max-width: 1024px) {
      flex: 0.7;
    }
    @media (max-width: 768px) {
      flex: 0.8;
    }

    p {
      transition: 0.4s;

      &:hover {
        transform: scale(1.05);
        color: crimson;
      }
    }

    span {
      margin-left: 1rem;
      word-break: break-all;
      word-wrap: break-word;
      // color: $tertiary-color;

      @media (max-width: 768px) {
        font-size: 12px;
      }
    }
  }
  .task__status,
  .task__priority,
  .task__category {
    flex: 0.15;
    text-align: center;
  }

  .task__status {
    @media (max-width: 768px) {
      flex: 0.2;
    }
  }
  .task__category {
    @media (max-width: 1024px) {
      display: none;
    }
  }
  .task__priority {
    @media (max-width: 768px) {
      display: none;
    }
  }
}
