$primary-bg-color: #010a24;
$secondary-bg-color: #171721;

$primary-color: #4b24bf;
$secondary-color: #f41368;

$button-primary-color: #a9ded8;
$button-primary-touch-color: #9edfd7;

$model-button-primary-color: crimson;

$button-secondary-color: pink;
$button-secondary-touch-color: rgba(255, 192, 203, 0.9);

$light-theme: #fff;
$light-theme-with-opacity: rgba(255, 255, 255, 0.1);

$primary-color-with-opacity: #75b9b1;

$dark-theme: #000;
$slight-theme: lightgray;

$percentage: 100%;
$rem: 1rem;

$font-small: 14px;
$font-normal: 16px;
$font-x-large: 18px;

$font-weight-normal: 500;
$font-weight-bold: 600;

$scroll-thumb: #21bb9a;
$scroll-bg: #ccf6ed;

$model-overlay-bg: rgba(255, 255, 255, 0.01);
$model-bg: rgb(29, 28, 28);

$shadow: 0 2px 4px rgba(0, 0, 0, 0.3);

@mixin flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin viewport {
  width: 100vw;
  height: 100vh;
}

@mixin flexRow {
  display: flex;
  align-items: center;
}
@mixin flexColumn {
  display: flex;
  flex-direction: column;
}

@mixin userSelect {
  -webkit-user-select: none; /* Chrome all / Safari all */
  -moz-user-select: none; /* Firefox all */
  -ms-user-select: none; /* IE 10+ */
  user-select: none; /* Likely future */
}

@mixin buttonWithoutBorder {
  border: none;
  outline: none;
}

@mixin scroll {
  &::-webkit-scrollbar {
    width: 10px;
    height: 10px;
    background: $scroll-bg;
  }
  &::-webkit-scrollbar-thumb {
    background: $scroll-thumb;
    border-radius: 10px;
  }
}
@mixin absolute() {
  position: absolute;
  top: 0;
  left: 0;
}

@mixin button() {
  button {
    padding: 0.5rem $rem;
    border: none;
    border-radius: 3px;

    background: $model-button-primary-color;
    color: $light-theme;

    &:hover {
      background: $model-button-primary-color;
      color: $light-theme;
    }
  }
}
