@import "../../App.scss";

.generatePin {
  @include flexColumn();
  width: $percentage;
  align-items: center;
  justify-content: center;
  margin-top: 5rem;

  &__info {
    font-size: $font-x-large;
    margin-bottom: $rem;
  }
  &__button {
    @include buttonWithoutBorder();
    padding: 0.4rem 1.6rem;
    font-size: $font-normal;
    background: $button-primary-color;
    margin-top: 0.5rem;
    @include flexRow();
    justify-content: space-between;
    text-decoration: none;
    color: $dark-theme;

    &:active,
    &:hover {
      background: $button-primary-touch-color;
    }
  }
}
