@import "../../container/App.global.style.scss";

.generatePin {
  margin-top: 3rem;
  display: flex;
  align-items: center;
  justify-content: center;

  &__button {
    @include buttonWithoutBorder();
    padding: 0.4rem 1.6rem;
    font-size: $font-normal;
    background: $secondary-color;
    margin-top: 0.5rem;
    @include flexRow();
    justify-content: space-between;
    text-decoration: none;
    color: $light-theme;
    border-radius: 3px;
    transition: 0.4s;

    &:active,
    &:hover {
      transform: translateY(3px);
    }
  }
}
