@import "../../container/App.global.style.scss";

.addPage {
  width: 100%;
  height: 500px;
  padding: 3rem;

  &__top {
    @include flexRow();
    justify-content: space-between;
    margin-bottom: 1.5rem;

    &Date {
      font-size: 1.5rem;
      font-weight: $font-weight-bold;
      text-transform: uppercase;
    }
    &Button {
      @include flexRow();
      justify-content: space-between;
      @include buttonWithoutBorder();
      padding: 0.4rem 1.6rem;
      font-size: $font-normal;
      background: $button-primary-color;
      margin-top: 0.5rem;
      text-decoration: none;
      color: $dark-theme;

      &:active,
      &:hover {
        background: $button-primary-touch-color;
      }
    }

    .addPage__topButton--back {
      background: $button-secondary-color;
      &:active,
      &:hover {
        background: $button-secondary-touch-color;
      }
    }
  }
}
