@import "../../index.scss";

.formInput {
  @include flexColumn();

  &--field {
    width: $percentage;
    padding: 0.5rem 1rem;
    font-size: $font-x-large;
    border: none;
    outline: none;
    border-bottom: 1px solid $slight-theme;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;

    &:focus {
      border-bottom: 3px solid $dark-theme;
    }
  }
  &--fieldError {
    border-bottom: 3px solid red;
  }

  &__inputErrorMessage {
    color: red;
    font-size: $font-small;
    margin-top: 0.2rem;
    align-self: flex-start;
    margin-bottom: 0.5rem;
  }
}
