.form-group {
    display: flex;
    flex-direction: column;
}
.input {
    width: 95%;
    padding: 0.5rem 1rem;
    font-size: 18px;
    border: none;
    outline: none;
    border-bottom: 1px solid lightgray;
}
.input:focus {
    border-color: black;
}
.input-error {
    border: 1px solid red;
    outline: 1px solid red;
}
.error {
    color: red;
    font-size: 12px;
    margin-top: 0.3rem;
    align-self: flex-start;
    margin-bottom: 1rem;
}
