@import "../../container/App.global.style.scss";

.sidebar {
  width: 200px;
  height: 100vh;
  box-shadow: 0px 0.25px 0.5px $light-theme;
  padding: 0 1rem;
  display: flex;
  flex-direction: column;
  align-content: center;
  position: sticky;
  top: 0;
  left: 0;
  background: #1f1f23;

  &__top {
    flex: 0.1;
    @include flexRow();
  }
  &__middle {
    @include flexColumn();
    justify-content: center;
    flex: 0.8;
  }
  &__bottom {
    flex: 0.1;
    @include flexRow();
  }
  .sidebar__link {
    text-decoration: none;
    width: 100%;
    margin: 0.5rem 0;
  }
  .sidebar__logoContainer {
    @include flexRow();
    cursor: pointer;
    color: $slight-theme;
    text-decoration: none;
    padding: 0rem 1rem;
    margin: 0.5rem 0;
    border-radius: 5px;
    transition: 0.4s;

    span {
      margin-left: 0.7rem;
      font-size: 16px;
    }

    &--active,
    &:hover {
      color: $light-theme;
      background: $primary-color;
      padding: 0.5rem 1rem;
    }
  }

  @media (max-width: 768px) {
    display: none;
  }
}
