@import "../../App.scss";

.yesOrNoModel--overlay {
  @include absolute;
  width: $percentage;
  height: $percentage;
  filter: blur(100px);
  z-index: 99;
}
.yesOrNoModel {
  @include absolute();
  width: $percentage;
  height: $percentage;
  @include flexRow();
  justify-content: center;
  z-index: 100;
  background: $model-overlay-bg;

  &__form {
    background: $model-bg;
    width: 300px;
    position: relative;
    border-radius: 5px;
    height: 120px;

    .title {
      font-size: 20px;
      padding: $rem;
      font-weight: $font-weight-normal;
    }

    &ButtonContainer {
      @include flexRow();
      justify-content: space-between;
      padding: $rem;

      button {
        &:first-child {
          background: $light-theme;
          color: $dark-theme;
          transition: all 0.5ms ease-in;

          &:hover {
            background: $light-theme;
            color: $dark-theme;
            transform: scale(1.1);
          }
        }
      }
      @include button();
    }
  }
}
