@import "../../../container/App.global.style.scss";

.todoList {
  display: flex;
  align-items: flex-start;
  width: $percentage;
  height: $percentage;
  padding: 2rem;

  &__do,
  &__doing,
  &__done {
    flex: 1;
    margin: $rem;
    border-radius: 4px;
    border: 1px solid $light-theme-with-opacity;

    &Header {
      @include flexRow();
      justify-content: space-between;
      padding: $rem;
      user-select: none;
      margin-bottom: 0.5rem;
    }

    &AddButton {
      background: $button-primary-color;
      padding: 0.5rem;
      text-align: center;
      color: $dark-theme;
      border-radius: 4px;
      margin: $rem;
    }

    .todoList__AddContent {
      position: relative;
      margin: 0 1rem;
      margin-bottom: 0.5rem;

      textarea {
        width: 100%;
        color: $light-theme;
        background: $light-theme-with-opacity;
        height: 70px;
        border-radius: 4px;
        border: none;
        padding: 0.5rem;
        padding-bottom: 1rem;
        font-family: inherit;
        resize: none;
      }

      button {
        position: absolute;
        right: 0px;
        bottom: 8px;
        background: transparent;
        border-radius: 50%;
        border: none;
        color: $light-theme;
        padding-right: 0.5rem;
      }
    }

    &Lists {
      height: 35vw;
      overflow: auto;
      padding: $rem;

      &--dragging {
        border: 1px dashed white;
        background: rgba(105, 103, 103, 0.404)
      }

      @include scroll();

      .todoList__doList,
      .todoList__doingList,
      .todoList__doneList {
        padding: $rem;
        background: $light-theme-with-opacity;
        margin: 0.5rem 0;
        border-radius: 4px;
        user-select: none;

        &--dragging {
          background-color: $button-primary-color;
          color: $dark-theme;
        }

        &:first-child {
          margin-top: 0;
        }
      }
    }
  }

  &__do {
  }

  &__doing {
  }

  &__done {
  }
}
