@import "../../index.scss";

.landing {
  background: $light-theme;
  padding: 0 8rem;
  height: 100vh;
  @include userSelect();

  &__container {
    margin: 3rem 0;

    .landing__start {
      flex: 1;
      padding: 2rem;

      &Title,
      &Subtitle {
        font-size: 90px;
        text-align: center;

        @media (max-width: 768px) {
          font-size: 50px;
        }
        @media (max-width: 425px) {
          font-size: 35px;
        }
      }
      &Title {
        color: #1a5af8;
        font-size: 65px;
        margin-bottom: 0.5rem;
      }

      &Content {
        margin-top: 0.5rem;
        color: gray;
        font-size: 24px;
        text-align: center;
      }
    }
  }
  .features {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5rem;

    .feature {
      margin-left: 1rem;

      &__icon {
        width: 75px;
        height: 75px;
        margin-bottom: 1rem;
      }
      &__title {
        margin-bottom: 1rem;
      }
      &__subtitle {
        font-size: 12px;
        word-wrap: break-word;
        word-break: break-all;
      }
    }
  }
}

@media (max-width: 1024px) {
  .landing {
    margin: 0 1.5rem;
  }
}

@media (max-width: 768px) {
  .landing__startTitle,
  .landing__startSubtitle {
    font-size: 40px;
  }
}
