@import "../../container/App.global.style.scss";

.landing {
  background: $light-theme;
  padding: 0 8rem;
  height: 100vh;
  @include userSelect();

  &__container {
    margin: 3rem 0;

    .landing__start {
      flex: 1;
      padding: 2rem;

      &Title,
      &Subtitle {
        font-size: 70px;
        text-align: center;

        @media (max-width: 768px) {
          font-size: 50px;
        }
        @media (max-width: 425px) {
          font-size: 35px;
        }
      }
      &Title {
        color: #1a5af8;
      }

      &Content {
        margin-top: 0.5rem;
        color: gray;
        font-size: 24px;
        text-align: center;
      }
    }
    &Right {
      flex: 1;

      &ImageContainer {
        text-align: center;

        .landing__containerRightImage {
          width: 650px;
          height: 500px;
          object-fit: contain;

          @media (max-width: 675px) {
            width: $percentage;
            height: 350px;
          }
        }
      }
    }
    @media (max-width: 1180px) {
      flex-direction: column;
    }
  }
}

@media (max-width: 1024px) {
  .landing {
    margin: 0 1.5rem;
  }
}

@media (max-width: 768px) {
  .landing__startTitle,
  .landing__startSubtitle {
    font-size: 40px;
  }
}
