@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  body {
    background: #0e0e10;
  }
  .clip-path {
    clip-path: polygon(0 0, 67% 0, 100% 100%, 0% 100%);
  }
  ::-webkit-scrollbar {
    display: none;
    width: 1rem;
    height: 1rem;
  }
  ::-webkit-scrollbar-thumb {
    background: #4b24bf;
    border-radius: 0.5rem;
  }

  .custom-input::-webkit-calendar-picker-indicator {
    background: url("./assets/calender.png") center/80% no-repeat;
    width: 15px;
  }

  .shake {
    animation: shake 0.2s ease-in-out;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
  }
  @keyframes shake {
    10% {
      transform: translate3d(-2px, 0, 0);
    }
    20% {
      transform: translate3d(3px, 0, 0);
    }
    30% {
      transfrom: translate3d(-4px, 0, 0);
    }
    40% {
      transfrom: translate3d(6px, 0, 0);
    }
    50% {
      transfrom: translate3d(-6px, 0, 0);
    }
    60% {
      transform: translate3d(9px, 0, 0);
    }
    70% {
      transfrom: translate3d(-4px, 0, 0);
    }
    80% {
      transform: translate3d(6px, 0, 0);
    }
    90% {
      transform: translate3d(-2px, 0, 0);
    }
    100% {
      transform: translate3d(0, 0, 0);
    }
  }

  .spinner {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #fff;
  }
  .spinner__object {
    width: 40px;
    height: 40px;
    background-color: #000;
    z-index: 1;

    margin: 100px auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
  }

  @-webkit-keyframes sk-rotateplane {
    0% {
      -webkit-transform: perspective(120px);
    }
    50% {
      -webkit-transform: perspective(120px) rotateY(180deg);
    }
    100% {
      -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg);
    }
  }

  @keyframes sk-rotateplane {
    0% {
      transform: perspective(120px) rotateX(0deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    }
    50% {
      transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
      -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    }
    100% {
      transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
      -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
  }

  .card-columns {
    column-count: 1;
    column-gap: 1.5rem;
    padding: 1.5rem;
  }

  .card-columns .card {
    display: inline-block;
    width: 100%;
    margin-bottom: 1rem;
  }

  .columns-5 {
    column-count: 5;
  }
  .columns-4 {
    column-count: 4;
  }
  .columns-3 {
    column-count: 3;
  }
  .columns-2 {
    column-count: 2;
  }
  .columns-1 {
    column-count: 1;
  }

  @media (min-width: 576px) {
    .columns-5-sm {
      column-count: 5;
    }
    .columns-4-sm {
      column-count: 4;
    }
    .columns-3-sm {
      column-count: 3;
    }
    .columns-2-sm {
      column-count: 2;
    }
    .columns-1-sm {
      column-count: 1;
    }
  }

  @media (min-width: 768px) {
    .columns-5-md {
      column-count: 5;
    }
    .columns-4-md {
      column-count: 4;
    }
    .columns-3-md {
      column-count: 3;
    }
    .columns-2-md {
      column-count: 2;
    }
    .columns-1-md {
      column-count: 1;
    }
  }

  @media (min-width: 992px) {
    .columns-6-lg {
      column-count: 6;
    }
    .columns-5-lg {
      column-count: 5;
    }
    .columns-4-lg {
      column-count: 4;
    }
    .columns-3-lg {
      column-count: 3;
    }
    .columns-2-lg {
      column-count: 2;
    }
    .columns-1-lg {
      column-count: 1;
    }
  }

  @media (min-width: 1200px) {
    .columns-6-xl {
      column-count: 6;
    }
    .columns-5-xl {
      column-count: 5;
    }
    .columns-4-xl {
      column-count: 4;
    }
    .columns-3-xl {
      column-count: 3;
    }
    .columns-2-xl {
      column-count: 2;
    }
    .columns-1-xl {
      column-count: 1;
    }
  }
}
