@import "../../../../container/App.global.style.scss";

.taskAdd {
  flex: 1;
  margin: 1rem 2rem;
  background: #1a1a1a;
  padding: 1rem 2rem;
  border-radius: 4px;

  .title {
    font-size: 1.5rem;
    margin-bottom: 1rem;
  }
  .form {
    &-group {
      position: relative;
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;

      .title--length {
        position: absolute;
        top: 28.5px;
        right: 10px;
        border-radius: 5px;
        background: #1a1a1a;
        font-size: 14px;
        padding: 0.3rem 0.6rem;
      }

      label {
        font-size: 12px;
        font-weight: 600;
        margin-bottom: 0.5rem;
      }

      input {
        padding: 0.7rem 1.5rem;
        background: #313131;
        font-size: 1rem;
        color: $light-theme;
        @include buttonWithoutBorder();
        border-radius: 4px;
        padding-right: 4rem;

        &:focus {
          border: 1px solid $primary-color;
        }
      }
      .form-radio-group {
        display: flex;
        margin-top: 1rem;
        .radio-group {
          input[type="radio"] {
            display: none;

            &:checked + label {
              border: 1px solid $secondary-color;
              color: $secondary-color;
            }
          }
          label {
            background: #313131;
            font-size: 16px;
            border-radius: 4px;
            padding: 0.5rem 2rem;
            margin-bottom: 0.4rem;
            margin-right: 0.4rem;
            font-weight: normal;
            text-transform: capitalize;

            @media (max-width: 768px) {
              font-size: 14px;
            }
          }
        }
      }
      .form-category-group {
        margin-top: 0.5rem;

        .MuiChip-root {
          color: $light-theme;
          font-size: 16px;
          padding: 20px;
          margin-right: 0.5rem;
          margin-bottom: 0.5rem;
        }
      }
    }
  }
}
