@import "../../container/App.global.style.scss";

.header {
  @include flex();
  height: 5rem;

  &__overlay {
    @include viewport();
    @include absolute();
    z-index: 1;
    background: rgba(0, 0, 0, 0.3);
  }

  &__left {
    a {
      text-decoration: none;
      color: $primary-color;
      z-index: 103;
      cursor: pointer;

      .header__logo {
        width: 65px;
        height: 65px;
        object-fit: cover;
      }
    }
  }
  &__right {
    .header__rightButton {
      padding: 0.5rem 2rem;
      border-top-left-radius: 10px;
      border-top-right-radius: 3px;
      border-bottom-left-radius: 3px;
      border-bottom-right-radius: 10px;
      @include buttonWithoutBorder();
      box-shadow: $shadow;
      transition: all 0.2s ease-in;
      cursor: pointer;
      font-size: 18px;

      &:focus,
      &:hover {
        transform: scale(1.05);
      }

      &--primary {
        background: $primary-color;
        color: $light-theme;
        margin-right: 1rem;
      }
    }

    &--collapse {
      padding: 0.55rem 0.65rem;
      padding-bottom: 0.35rem;
      border-radius: 50%;
      @include flexRow();
      justify-content: center;
      cursor: pointer;
      background: #f7f7f7;
      box-shadow: $shadow;
      display: none;

      &:focus,
      &:hover {
        transform: scale(1.05);
      }
    }

    &Menu {
      position: absolute;
      right: 0px;
      top: 0;
      width: 250px;
      height: 100vh;
      background: $light-theme;
      z-index: 2;
      padding: 0.5rem 1rem;
      @include flexColumn();
      box-shadow: $shadow;
      animation: slide 0.3s ease-in;

      &--clear {
        align-self: flex-end;
        margin-top: $rem;
        margin-bottom: 2rem;
        cursor: pointer;
      }

      &Lists {
        @include flexColumn();
        align-items: center;
        list-style: none;

        a {
          text-decoration: none;
          color: $dark-theme;
          width: $percentage;
          margin-bottom: $rem;
          cursor: pointer;
          border-radius: 5px;

          &:focus,
          &:hover {
            background-color: $primary-color;
            color: $light-theme;
          }

          .header__rightMenuList {
            padding: 1rem 2rem;
            font-weight: $font-weight-bold;
            text-transform: uppercase;
          }
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .header__right {
    display: none;
  }
}

@media (max-width: 768px) {
  .header__right--collapse {
    display: block;
  }
}

@keyframes slide {
  0% {
    right: -250px;
  }
  20% {
    right: -200px;
  }
  40% {
    right: -150px;
  }
  60% {
    right: -100px;
  }
  80% {
    right: -50px;
  }
  100% {
    right: 0px;
  }
}
