@import "../../index.scss";

.modal {
  @include absolute();
  height: 100vh;
  width: 100%;
  @include flexColumn();
  align-items: center;
  justify-content: center;

  &__container {
    @include flexColumn();
    background: $model-bg;
    width: 250px;
    height: 250px;
    border-radius: 5px;
    min-width: 250px;
    min-height: 250px;
  }
  &__header {
    font-size: 18px;
    border-bottom: 1px solid $light-theme-with-opacity;
    padding: 0.5rem 1rem;
  }
  &__body {
    padding: 1rem;

    .form-input {
      border-radius: 3px;
      padding: 0.4rem 0.8rem;
      width: $percentage;
      font-size: $font-normal;
      outline: none;
      margin-bottom: 0.5rem;
      border-bottom: none;
      transition: 0.2s;

      &:focus {
        transform: translateY(-3px);
      }

      &:last-child {
        margin-bottom: 0.1rem;
      }
    }
  }
  &__footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 0 1rem;

    button {
      &:first-child {
        background: $light-theme;
        color: $dark-theme;
        transition: all 0.5ms ease-in;
        margin-right: 0.5rem;

        &:hover {
          background: $light-theme;
          color: $dark-theme;
        }
      }
      &:hover {
        transform: scale(1.05);
      }
    }
    @include button();
  }
}
