@import "../../../../container/App.global.style.scss";

.pageView {
  width: $percentage;
  height: 500px;
  padding: 3rem;
  &__top {
    @include flexRow();
    justify-content: space-between;
    margin-bottom: 1.5rem;

    &Date {
      font-size: 24px;
      font-weight: $font-weight-bold;
      text-transform: uppercase;

      @media (max-width: 768px) {
        font-size: 16px;
      }
      @media (max-width: 425px) {
        display: none;
      }
    }
    &Button {
      @include flexRow();
      justify-content: space-between;
      @include buttonWithoutBorder();
      padding: 0.4rem 1.6rem;
      font-size: $font-normal;
      background: $primary-color;
      margin-top: 0.5rem;
      text-decoration: none;
      color: $light-theme;
      border-radius: 3px;
      transition: 0.4s;

      &:active,
      &:hover {
        transform: translateY(3px);
      }
    }

    .pageView__topButton--back {
      background: $secondary-color;
    }
    .pageView__topButtonContainer {
      display: flex;
      justify-content: space-between;

      .pageView__topButton--cancel {
        margin-right: 1rem;
        background: $tertiary-color;
        color: $dark-theme;
        transition: 0.4s;

        &:hover {
          transform: translateY(3px);
        }
      }
    }
  }
  &__bottom {
    height: 500px;

    &Content {
      width: $percentage;
      height: $percentage;
      color: $light-theme;
      background: $light-theme-with-opacity;
      font-size: $font-small;
      padding: 1rem;
      font-family: inherit;
      word-wrap: break-word;
      word-break: keep-all;
      resize: none;
      margin-right: 1rem;

      @include scroll();
    }
  }

  &__date {
    text-transform: uppercase;
    margin-bottom: 0.5rem;
    font-weight: $font-weight-bold;

    @media (min-width: 425px) {
      display: none;
    }
  }

  @media (max-width: 425px) {
    padding: 1rem;
  }
}
