@import "../../../../index.scss";

.passwordView {
  flex: 1;
  margin: 0 6rem;
  margin-top: 2rem;
  padding: 1rem;

  @media (max-width: 1024px) {
    margin: 0 3rem;
    margin-top: 2rem;
  }

  @media (max-width: 768px) {
    margin: 0 1rem;
    margin-top: 2rem;
    padding: 0;
    padding-top: 1rem;
  }

  &--empty {
    margin-top: 1rem;
    text-align: center;

    a {
      display: block;
      color: green;
      margin-top: 0.2rem;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    &Button {
      padding: 0.5rem 1rem;
      border-radius: 3px;
      @include buttonWithoutBorder();
      color: $dark-theme;
      background: $tertiary-color;
      display: flex;
      align-items: center;
      justify-content: center;
      transition: 0.4s;
      font-size: 16px;

      span {
        margin-left: 0.3rem;
      }

      &--invert {
        color: $light-theme;
        background: $secondary-color;
      }

      &:first-child {
        margin-right: 1rem;
      }

      &:hover,
      &:active {
        transform: translateY(-3px);
      }
    }
  }
  &__body {
    margin-top: 1.5rem;

    &Top {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 0.5rem 1rem;

      &Left {
        display: flex;
        align-items: flex-start;

        img {
          width: 50px;
          height: 50px;
          object-fit: contain;
          margin-right: 1rem;
          border-radius: 3px;
        }
        h3 {
          text-transform: capitalize;
        }
        p {
          font-size: 12px;
          color: #a4a4a4;
        }
      }
    }
    .passwordView__form {
      padding: 0.5rem 1rem;

      &Group {
        display: flex;
        flex-direction: column;
        position: relative;
        margin-top: 1rem;

        .copy {
          position: absolute;
          top: 20px;
          right: 10px;
          cursor: pointer;

          @media (max-width: 375px) {
            top: 5px;
          }
        }
        .lock,
        .redirect {
          position: absolute;
          top: 20px;
          right: 40px;
          cursor: pointer;
          color: $light-theme;

          @media (max-width: 375px) {
            top: 5px;
          }
        }
        .password {
          padding-right: 65px;
        }

        label {
          position: absolute;
          top: 5px;
          left: 16px;
          font-size: 12px;
          text-transform: capitalize;
        }

        input {
          font-size: 16px;
          border: transparent;
          outline: none;
          color: $light-theme;
          border-radius: 3px;
          padding: 0.5rem 1rem;
          padding-top: 1.8rem;
          background: transparent;

          &:focus {
            background: $light-theme-with-opacity;
          }

          &:disabled {
            cursor: not-allowed;
          }
        }
      }
      &Statistics {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 1.5rem;

        @media (max-width: 325px) {
          flex-direction: column;
        }

        &Group {
          display: flex;
          flex-direction: column;
          align-items: center;

          @media (max-width: 325px) {
            margin-bottom: 1.5rem;
          }

          h3 {
            font-size: 20px;
            text-transform: uppercase;
            font-weight: 500;

            @media (max-width: 768px) {
              font-size: 16px;
            }
          }
          p {
            font-size: 14px;
            color: #a4a4a4;
            margin-top: 0.5rem;

            @media (max-width: 768px) {
              font-size: 10px;
            }
          }
        }
      }
      .passwordView__formButtonGroup {
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-top: 1.5rem;

        button {
          padding: 0.5rem 1rem;
          border-radius: 3px;
          @include buttonWithoutBorder();
          color: $light-theme;
          background-color: $primary-color;
          transition: 0.4s;

          &:first-child {
            margin-right: 1rem;
            background: $secondary-color;
          }

          &:hover,
          &:active {
            transform: translateY(-3px);
          }
        }
      }
    }
  }
}

.unlockModel {
  padding: 1rem;
  background: $model-bg;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  border-radius: 3px;
  width: 250px;
  height: 115px;

  &__form {
    display: flex;
    flex-direction: column;

    &Group {
      input {
        width: 100%;
        padding: 0.5rem 1rem;
        font-size: 14px;
        border: none;
        outline: none;
        background: transparent;
        border-radius: 3px;
        color: $light-theme;
        border: 1px solid #464444;

        &:focus {
          border-color: $light-theme;
        }
      }
      label {
        position: absolute;
        top: 13px;
        left: 30px;
        font-size: 12px;
      }
    }
    .unlockModel__formButtonGroup {
      align-self: flex-end;

      button {
        margin-top: 1rem;
        padding: 0.5rem 1rem;
        @include buttonWithoutBorder();
        align-self: flex-end;
        color: $light-theme;
        transition: 0.4s;
        border-radius: 3px;
        cursor: pointer;
        background: $primary-color;
        font-size: $font-normal;

        &:first-child {
          background: transparent;
          margin-right: 0.5rem;
        }

        &:hover,
        &:active {
          transform: scale(1.05);
        }
      }
    }
  }
}
