@import "../../../../container/App.global.style.scss";

.passwordAdd {
  margin: 3rem 8rem;
  display: flex;
  flex-direction: column;

  @media (max-width: 425px) {
    margin: 1rem;
  }

  &__backButton {
    align-self: flex-start;
  }

  &__title {
    font-weight: normal;
    font-size: 2rem;
    padding-bottom: 0.5rem;
    margin-bottom: 2rem;
    color: $tertiary-color;

    @media (max-width: 768px) {
      font-size: 1.5rem;
    }
  }
  &__formContainer {
    display: flex;
    flex-direction: column;
    margin-bottom: 1rem;
    width: 75%;
    user-select: none;

    @media (max-width: 768px) {
      width: 100%;
    }

    .passwordAdd__labelContainer {
      margin-bottom: 0.5rem;
      display: flex;
      align-items: center;
      justify-content: space-between;
      min-width: 250px;

      .passwordAdd__label {
        text-transform: capitalize;
        color: $light-theme;
        span {
          margin-left: 0.5rem;
          font-size: 12px;
          color: #a4a4a4;
          text-transform: none;
        }
      }
    }
    .passwordAdd__inputContainer {
      display: flex;
      flex-direction: row;
      align-items: center;
      width: 100%;
      min-width: 250px;

      .passwordAdd__input--prefix {
        color: white;
        height: 37px;
        display: flex;
        align-items: center;
        justify-self: center;
        padding: 0 1rem;
        font-weight: 600;
        border-top-left-radius: 3px;
        border-bottom-left-radius: 3px;
        background: $light-theme-with-opacity;
      }

      .passwordAdd__input {
        width: 100%;
        font-size: 18px;
        padding: 0.5rem 1rem;
        border-radius: 3px;
        border: transparent;
        background: $light-theme-with-opacity;
        color: $light-theme;
        transition: 0.1s ease-in;

        &:focus {
          outline: $primary-color;
          border: 2px solid $primary-color;
          outline-width: 2px;
        }

        &--suffix {
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
        }
      }
    }
    .passwordAdd__input--error {
      font-size: 12px;
      color: red;
      margin-top: 0.3rem;
    }
  }
  .passwordAdd__buttonContainer {
    margin-top: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 75%;
    min-width: 250px;

    @media (max-width: 768px) {
      width: 100%;
    }

    button {
      &:first-child {
        margin-right: 1rem;
      }
    }
  }
}
