@import "../../App.scss";

.addPassword {
  width: $percentage;
  height: $percentage;
  @include flexColumn();
  padding: 2rem;
  overflow: auto;

  &__backButton {
    align-self: flex-start;
    margin-left: 0;
  }
  &__title {
    font-size: 1.5rem;
    text-transform: uppercase;
    margin-top: 2rem;
    align-self: center;
  }
  &__form {
    @include flexColumn();
    margin-top: 2rem;

    .addPassword__inputsContainer {
      @include flexColumn();

      .addPassword__inputContainer {
        @include flexRow();
        margin-bottom: $rem;
        .addPassword__label {
          flex: 0.3;
          text-transform: uppercase;
        }
        .addPassword__input {
          flex: 0.7;
          padding: $rem;
          font-size: $font-normal;
          color: $light-theme;
          border-radius: 3px;
          background: $light-theme-with-opacity;
          @include buttonWithoutBorder();
        }
      }
      .addPassword__input--error {
        color: red;
        padding: 0;
        margin: 0;
        margin-bottom: $rem;
        align-self: flex-end;
        font-size: $font-small;
        width: 70%;
      }
    }
  }
  .password__buttonContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 2rem;
  }
}
